<footer class="py-3 d-flex flex-column align-items-center">
    <div class="d-flex justify-content-center gap-3" style="font-size: 2rem;">
        <!-- instagram -->
        <a href="https://www.instagram.com/jcpaintingcontractors/" class="link-light"><i class="bi bi-instagram"></i></a>
        <!-- facebook -->
        <a href="https://www.facebook.com" class="link-light"><i class="bi bi-facebook" ></i></a>
        <!-- youtube -->
        <a href="https://www.youtube.com" class="link-light"><i class="bi bi-youtube"></i></a>
    </div>
    <div class="d-flex align-items-center justify-content-evenly px-3">
        <!-- logo -->
        <div class="px-3"><img src="/img/logo-blanco.png" height="80"></div>
        <!-- call -->
        <div class="px-3"><p class="fw-bold text-white">CALL TODAY: +58.412.784.8101</p></div>
    </div>
</footer>
<%- include('whatsappBtn') %>