<div class="text-end fixed-bottom" style="width: 60px; height: 60px;">
    <a href="https://wa.me/584127848101" class="m-auto">
        <img class="rounded-circle ws-btn" src="/img/logo-wasap.png" width="50" height="50">
    </a>
</div>