<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="es" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('includes/head') %>
</head>
<body>
    <%- include('includes/nav') %>
    <div class="container p-3">
        <h1 class="text-red text-center">Blog</h1>
    </div>
    <%- include('includes/footer') %>
</body>
</html>