<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('includes/head') %>
</head>

<body>
    <%- include('includes/nav') %>
        <div class="container p-3">
            <h1 class="h2 text-center text-primary fw-normal">Get In Touch!</h1>

            <form action="" class="row needs-validation form-floating" method="post" novalidate>
                <!-- Email -->
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"
                            required>
                        <label for="email">Email address</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a valid email address
                        </div>
                    </div>
                </div>

                <!-- Phone -->
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="Phone" name="Phone"
                            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" maxlength="12" placeholder="000-000-0000" required>
                        <label for="Phone">Phone <span class="text-muted">(000-000-0000)</span></label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter your phone number in the format 000-000-0000
                        </div>
                    </div>
                </div>

                <!-- Name -->
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="firstName" name="firstName"
                            placeholder="Enter first name" required>
                        <label for="firstName">First Name</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a first name
                        </div>
                    </div>
                </div>

                <!-- Last Name -->
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="lastName" name="lastName"
                            placeholder="Enter last name" required>
                        <label for="lastName">Last Name</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a last name
                        </div>
                    </div>
                </div>

                <!-- Message -->
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" name="message" minlength="15" maxlength="300"
                            placeholder="Enter message" style="height: 100px" required></textarea>
                        <label for="message">Message</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a message, at least 15 characters
                        </div>
                    </div>
                </div>

                <!-- submit -->
                <div class="col-12 d-flex justify-content-center">
                    <button class="btn btn-primary rounded-pill px-5">Send Message</button>
                </div>
            </form>
        </div>
        <%- include('includes/footer') %>
            <script>
                (() => {
                    'use strict'

                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    const forms = document.querySelectorAll('.needs-validation')

                    // Loop over them and prevent submission
                    Array.from(forms).forEach(form => {
                        form.addEventListener('submit', event => {
                            if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                            }

                            form.classList.add('was-validated')
                        }, false)
                    })
                })()
            </script>
</body>

</html>