<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('includes/head') %>
</head>
<body>
    <%- include('includes/nav') %>
    <div class="container p-3">
        <div class="row mb-5">
            <div class="col-12 col-md-6">
                <img src="img/Services/img1.jpg" class="img-fluid rounded animation" >
            </div>

            <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                <!-- services title -->
                <h1 class="display-3 text-center text-primary fw-normal">Residential Painting</h1>

                <!-- services description -->
                <p class="lead fw-normal">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates reprehenderit id deleniti dolorem officia delectus impedit animi molestias, fuga minima repudiandae aspernatur rem quibusdam ducimus amet vero nobis recusandae officiis!
                </p>
            </div>
        </div>

        <div class="row mb-5 flex-column-reverse flex-md-row">
            <div class="col-12 col-md-6">
                <!-- services title -->
                <h1 class="display-3 text-center text-primary fw-normal">Commercial Painting</h1>

                <!-- services description -->
                <p class="lead fw-normal">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates reprehenderit id deleniti dolorem officia delectus impedit animi molestias, fuga minima repudiandae aspernatur rem quibusdam ducimus amet vero nobis recusandae officiis!
                </p>
            </div>

            <div class="col-12 col-md-6">
                <img src="img/Services/img2.jpg" class="img-fluid rounded animation">
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 col-md-6">
                <img src="img/Services/img3.jpg" class="img-fluid rounded animation">
            </div>

            <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                <!-- services title -->
                <h1 class="display-3 text-center text-primary fw-normal">Epoxy Flooring</h1>

                <!-- services description -->
                <p class="lead fw-normal">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates reprehenderit id deleniti dolorem officia delectus impedit animi molestias, fuga minima repudiandae aspernatur rem quibusdam ducimus amet vero nobis recusandae officiis!
                </p>
            </div>
        </div>

        <div class="row">
            <!-- services title -->
            <h1 class="display-3 text-center text-primary fw-normal">And More</h1>
            
            <!-- services description -->
            <p class="lead fw-normal">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis delectus illum minima voluptate ut rem eligendi pariatur beatae? Eos optio quibusdam consectetur minima neque deleniti amet id laborum? Nisi, reiciendis! 
            </p>
        </div>
    </div>
    <%- include('includes/footer') %>
</body>
</html>