<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('includes/head') %>
</head>
<body>
    <%- include('includes/nav') %>
    <div class="container p-3">
        <h1 class="text-center text-red">Services</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sed et voluptas, cum id officiis numquam exercitationem quod optio similique, aspernatur suscipit voluptatibus eius sint? Unde quaerat recusandae omnis voluptates.
        Eos maxime quas consequatur dolor reiciendis nemo! Praesentium quidem est modi placeat sapiente nihil dolore minus assumenda quo, sint exercitationem molestias officia quod qui libero aspernatur expedita. Incidunt, expedita amet.
        Aliquid non at obcaecati exercitationem delectus quas mollitia consectetur sunt, totam impedit. Odio nobis quis sapiente tenetur, expedita eius, exercitationem velit aspernatur magnam hic atque molestias? Enim, excepturi! Ratione, laboriosam.
        Blanditiis vero, esse nobis enim pariatur recusandae hic accusantium voluptates officia numquam, rem autem doloremque magnam ipsum corporis dolor ducimus, voluptatum minima aperiam! Omnis quam molestias enim explicabo ut iste?
        Totam sunt ipsam similique laborum, deleniti ratione non corrupti neque quibusdam repellat! Ut eaque alias obcaecati adipisci perspiciatis, deleniti vitae pariatur qui sunt vel cumque nobis facere blanditiis delectus earum?</p>
    </div>
    <%- include('includes/footer') %>
</body>
</html>